# Core
streamlit==1.48.0
pandas==2.3.0
numpy==2.3.0
scikit-learn==1.7.1

# NLP
spacy==3.7.5
faiss-cpu==1.12.0
sentence-transformers==5.1.0
transformers==4.55.4

# Utilities
requests==2.32.4
beautifulsoup4==4.12.3
